In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
cols = ['Age','Gender','TB', 'DB','Alkphos','Sgpt', 'Sgot', 'TP','ALB', 'A/G','target']
diabetes = pd.read_csv('diabetes.csv')
liver = pd.read_csv('ILPS.csv', names=cols)
heart = pd.read_csv('heart.csv')
insurance = pd.read_csv('insurance.csv')

In [ ]:
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
liver

     Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB   A/G  target
0     65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90       1
1     62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74       1
2     62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89       1
3     58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00       1
4     72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40       1
..   ...     ...   ...  ...      ...   ...   ...  ...  ...   ...     ...
578   60    Male   0.5  0.1      500    20    34  5.9  1.6  0.37       2
579   40    Male   0.6  0.1       98    35    31  6.0  3.2  1.10       1
580   52    Male   0.8  0.2      245    48    49  6.4  3.2  1.00       1
581   31    Male   1.3  0.5      184    29    32  6.8  3.4  1.00       1
582   38    Male   1.0  0.3      216    21    24  7.3  4.4  1.50       2

[583 rows x 11 columns]

In [ ]:
from sklearn import preprocessing
le1 = preprocessing.LabelEncoder()
liver['Gender'] =le1.fit_transform(liver['Gender'])

In [ ]:
liver["Age"] = liver["Age"].apply(np.int64)
liver["Gender"] = liver["Gender"].apply(np.int64)

In [ ]:
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
from sklearn import preprocessing
le1 = preprocessing.LabelEncoder()
insurance['sex'] =le1.fit_transform(insurance['sex'])

In [ ]:
insurance

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
merged_df = heart.merge(insurance, how="inner", on=["age", "sex"])
merged_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bmi,children,smoker,region,charges
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,28.310,0,no,northwest,13770.09790
1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,35.090,0,yes,southeast,47055.53210
2,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,41.470,0,no,southeast,13405.39030
3,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,36.765,0,no,northeast,13981.85035
4,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,41.325,3,no,northwest,15555.18875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3418,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0,32.100,3,no,southwest,14007.22200
3419,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0,31.350,0,no,northwest,12622.17950
3420,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0,26.695,3,no,northwest,14382.70905
3421,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0,27.500,0,no,southwest,12233.82800
3422,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0,34.800,2,no,southwest,36910.60803

In [ ]:
merged_df = merged_df.dropna()

In [ ]:
merged_df.head(100)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bmi,children,smoker,region,charges
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,28.310,0,no,northwest,13770.09790
1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,35.090,0,yes,southeast,47055.53210
2,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,41.470,0,no,southeast,13405.39030
3,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,36.765,0,no,northeast,13981.85035
4,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,41.325,3,no,northwest,15555.18875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1,28.050,1,no,southeast,6770.19250
96,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1,32.965,0,no,northwest,6571.02435
97,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1,31.600,0,no,southwest,6186.12700
98,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1,33.155,3,no,northeast,8538.28845
99,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1,32.200,1,no,southwest,6775.96100

In [ ]:
heart.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
insurance.dtypes

age           int64
sex           int64
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
heart['age'].value_counts()

58    19
57    17
54    16
59    14
52    13
51    12
62    11
60    11
44    11
56    11
64    10
41    10
63     9
67     9
65     8
43     8
45     8
55     8
42     8
61     8
53     8
46     7
48     7
66     7
50     7
49     5
47     5
70     4
39     4
35     4
68     4
38     3
71     3
40     3
69     3
34     2
37     2
29     1
74     1
76     1
77     1
Name: age, dtype: int64

In [ ]:
insurance['age'].value_counts()

18    69
19    68
50    29
51    29
47    29
46    29
45    29
20    29
48    29
52    29
22    28
49    28
54    28
53    28
21    28
26    28
24    28
25    28
28    28
27    28
23    28
43    27
29    27
30    27
41    27
42    27
44    27
31    27
40    27
32    26
33    26
56    26
34    26
55    26
57    26
37    25
59    25
58    25
36    25
38    25
35    25
39    25
61    23
60    23
63    23
62    23
64    22
Name: age, dtype: int64

In [ ]:
merged_df['age'].value_counts()

58    234
54    224
57    221
52    183
51    172
59    169
44    145
56    143
41    136
60    128
62    128
45    117
53    112
64    110
42    110
43    106
55    104
63    104
46    102
50    102
48     99
61     90
47     70
49     70
35     51
39     50
40     42
38     36
34     26
37     25
29     14
Name: age, dtype: int64

In [ ]:
merged_df2 = merged_df.merge(liver, how="inner", left_on=["age", "sex"], right_on=["Age", "Gender"])
merged_df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,Gender,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G,target_y
0,63,1,3,145,233,1,0,150,0,2.3,...,1,0.9,0.2,194,52,45,6.0,3.9,1.85,2
1,63,1,3,145,233,1,0,150,0,2.3,...,1,0.5,0.1,170,21,28,5.5,2.5,0.80,1
2,63,1,3,145,233,1,0,150,0,2.3,...,1,0.9,0.2,194,52,45,6.0,3.9,1.85,2
3,63,1,3,145,233,1,0,150,0,2.3,...,1,0.5,0.1,170,21,28,5.5,2.5,0.80,1
4,63,1,3,145,233,1,0,150,0,2.3,...,1,0.9,0.2,194,52,45,6.0,3.9,1.85,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21205,60,1,0,140,293,0,0,170,0,1.2,...,1,2.2,1.0,271,45,52,6.1,2.9,0.90,2
21206,60,1,0,140,293,0,0,170,0,1.2,...,1,0.7,0.2,171,31,26,7.0,3.5,1.00,2
21207,60,1,0,140,293,0,0,170,0,1.2,...,1,0.9,0.3,168,16,24,6.7,3.0,0.80,1
21208,60,1,0,140,293,0,0,170,0,1.2,...,1,19.6,9.5,466,46,52,6.1,2.0,0.40,1
21209,60,1,0,140,293,0,0,170,0,1.2,...,1,0.5,0.1,500,20,34,5.9,1.6,0.37,2

In [ ]:
merged_df3 = merged_df2.merge(diabetes, how="inner", left_on="age", right_on="Age")
merged_df3

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,target_y,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age_y,Outcome
0,63,1,3,145,233,1,0,150,0,2.3,...,2,3,142,80,15,0,32.4,0.200,63,0
1,63,1,3,145,233,1,0,150,0,2.3,...,2,5,158,70,0,0,29.8,0.207,63,0
2,63,1,3,145,233,1,0,150,0,2.3,...,2,4,132,86,31,0,28.0,0.419,63,0
3,63,1,3,145,233,1,0,150,0,2.3,...,2,10,101,76,48,180,32.9,0.171,63,0
4,63,1,3,145,233,1,0,150,0,2.3,...,1,3,142,80,15,0,32.4,0.200,63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182306,38,1,3,120,231,0,1,182,1,3.8,...,2,10,75,82,0,0,33.3,0.263,38,0
182307,38,1,3,120,231,0,1,182,1,3.8,...,2,1,173,74,0,0,36.8,0.088,38,1
182308,38,1,3,120,231,0,1,182,1,3.8,...,2,13,104,72,0,0,31.2,0.465,38,1
182309,38,1,3,120,231,0,1,182,1,3.8,...,2,10,129,62,36,0,41.2,0.441,38,1
182310,38,1,3,120,231,0,1,182,1,3.8,...,2,4,112,78,40,0,39.4,0.236,38,0

In [ ]:
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
heart_un = heart.drop_duplicates(subset = ["age"])
heart_un.drop(['target'], inplace=True, axis=1)
liver_un = liver.drop_duplicates(subset = ["Age"])
liver_un.drop(['target'], inplace=True, axis=1)
diabetes_un = diabetes.drop_duplicates(subset = ["Age"])
diabetes_un.drop(['Outcome'], inplace=True, axis=1)
merged_df = heart_un.merge(liver_un, how="inner", left_on=["age", "sex"], right_on=["Age", "Gender"])
merged_df2 = merged_df.merge(diabetes_un, how="inner", on="Age")

#risk calculation function 
def CalcRisk(heart_proba, liver_proba, diabetes_proba):
    heart_weight=21834
    liver_weight=10918
    diabetes_weight=1194
    risk_fac=((heart_proba*heart_weight) + (liver_proba*liver_weight) + (diabetes_proba*diabetes_weight))
              /(heart_weight + liver_weight + diabetes_weight)
    return risk_fac
  
test_results=merged_df2
df_heart=test_results[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs',	'restecg', 'thalach', 'exang',
                       'oldpeak', 'slope', 'ca', 'thal']]
df_liver=test_results[['Age', 'Gender', 'TB','DB','Alkphos','Sgpt', 'Sgot','TP',	'ALB', 'A/G']]
df_diabetes=test_results[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
                          'BMI', 'DiabetesPedigreeFunction', 'Age']]
heart_proba = HeartCalculation(df_heart)
liver_proba = LiverCalculation(df_liver)
diabetes_proba = DiabetesCalculation(df_diabetes)
print(heart_proba, liver_proba, diabetes_proba)
MedRiskFactor = CalcRisk(heart_proba, liver_proba, diabetes_proba)

In [ ]:
heart_un = heart.drop_duplicates(subset = ["age"])
heart_un.drop(['target'], inplace=True, axis=1)
heart_un

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2
42,45,1,0,104,208,0,0,148,1,3.0,1,0,2
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2
47,47,1,2,138,257,0,0,156,0,0.0,2,0,2
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2

In [ ]:
liver_un = liver.drop_duplicates(subset = ["Age"])
liver_un.drop(['target'], inplace=True, axis=1)
liver_un

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB   A/G
0     65       0   0.7  0.1      187    16    18  6.8  3.3  0.90
1     62       1  10.9  5.5      699    64   100  7.5  3.2  0.74
3     58       1   1.0  0.4      182    14    20  6.8  3.4  1.00
4     72       1   3.9  2.0      195    27    59  7.3  2.4  0.40
5     46       1   1.8  0.7      208    19    14  7.6  4.4  1.30
..   ...     ...   ...  ...      ...   ...   ...  ...  ...   ...
417   11       1   0.7  0.1      592    26    29  7.1  4.2  1.40
429   73       1   1.9  0.7     1750   102   141  5.5  2.0  0.50
497   67       1   2.2  1.1      198    42    39  7.2  3.0  0.70
537   10       0   0.8  0.1      395    25    75  7.6  3.6  0.90
571   90       1   1.1  0.3      215    46   134  6.9  3.0  0.70

[72 rows x 10 columns]

In [ ]:
diabetes_un = diabetes.drop_duplicates(subset = ["Age"])
diabetes_un.drop(['Outcome'], inplace=True, axis=1)
diabetes_un

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
5,5,116,74,0,0,25.6,0.201,30
6,3,78,50,32,88,31.0,0.248,26
7,10,115,0,0,0,35.3,0.134,29
8,2,197,70,45,543,30.5,0.158,53
9,8,125,96,0,0,0.0,0.232,54
11,10,168,74,0,0,38.0,0.537,34
12,10,139,80,0,0,27.1,1.441,57
13,1,189,60,23,846,30.1,0.398,59
14,5,166,72,19,175,25.8,0.587,51
20,3,126,88,41,235,39.3,0.704,27
22,7,196,90,0,0,39.8,0.451,41
26,7,147,76,0,0,39.4,0.257,43
27,1,97,66,15,140,23.2,0.487,22
29,5,117,92,0,0,34.1,0.337,38
30,5,109,75,26,0,36.0,0.546,60
31,3,158,76,36,245,31.6,0.851,28
34,10,122,78,31,0,27.6,0.512,45
36,11,138,76,0,0,33.2,0.420,35
37,9,102,76,37,0,32.9,0.665,46
39,4,111,72,47,207,37.1,1.390,56
41,7,133,84,0,0,40.2,0.696,37
42,7,106,92,18,0,22.7,0.235,48
44,7,159,64,0,0,27.4,0.294,40
45,0,180,66,39,0,42.0,1.893,25
49,7,105,0,0,0,0.0,0.305,24
53,8,176,90,34,300,33.7,0.467,58
54,7,150,66,42,342,34.7,0.718,42
58,0,146,82,0,0,40.5,1.781,44
61,8,133,72,0,0,32.9,0.270,39
62,5,44,62,0,0,25.0,0.587,36
73,4,129,86,20,270,35.1,0.231,23
115,4,146,92,0,0,31.2,0.539,61
123,5,132,80,0,0,26.8,0.186,69
129,0,105,84,0,0,27.9,0.741,62
140,3,128,78,0,0,21.1,0.268,55
148,5,147,78,0,0,33.7,0.218,65
159,17,163,72,41,114,40.9,0.817,47
207,5,162,104,0,0,37.7,0.151,52
221,2,158,90,0,0,31.6,0.805,66
245,9,184,85,15,0,30.0,1.213,49
263,3,142,80,15,0,32.4,0.200,63
363,4,146,78,0,0,38.5,0.520,67
453,2,119,0,0,0,19.6,0.832,72
459,9,134,74,33,60,25.9,0.460,81
509,8,120,78,0,0,25.0,0.409,64
666,4,145,82,18,0,32.5,0.235,70
674,8,91,82,0,0,35.6,0.587,68

In [ ]:
merged_df = heart_un.merge(liver_un, how="inner", left_on=["age", "sex"], right_on=["Age", "Gender"])
merged_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,Age,Gender,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G
0,63,1,3,145,233,1,0,150,0,2.3,...,63,1,0.9,0.2,194,52,45,6.0,3.9,1.85
1,37,1,2,130,250,0,1,187,0,3.5,...,37,1,1.8,0.8,215,53,58,6.4,3.8,1.40
2,56,1,1,120,236,0,1,178,0,0.8,...,56,1,1.1,0.5,180,30,42,6.9,3.8,1.20
3,52,1,2,172,199,1,1,162,0,0.5,...,52,1,0.9,0.2,156,35,44,4.9,2.9,1.40
4,54,1,0,140,239,0,1,160,0,1.2,...,54,1,2.2,1.2,195,55,95,6.0,3.7,1.60
5,49,1,1,130,266,0,1,171,0,0.6,...,49,1,0.7,0.1,148,14,12,5.4,2.8,1.00
6,64,1,3,110,211,0,0,144,1,1.8,...,64,1,0.9,0.3,310,61,58,7.0,3.4,0.90
7,69,0,3,140,239,0,1,151,0,1.8,...,69,0,0.8,0.2,146,42,70,8.4,4.9,1.40
8,42,1,0,140,226,0,1,178,0,0.0,...,42,1,6.8,3.2,630,25,47,6.1,2.3,0.60
9,61,1,2,150,243,1,1,137,1,1.0,...,61,1,0.7,0.2,145,53,41,5.8,2.7,0.87
10,51,1,2,110,175,0,1,123,0,0.6,...,51,1,2.2,1.0,610,17,28,7.3,2.6,0.55
11,65,0,2,140,417,1,0,157,0,0.8,...,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90
12,53,1,2,130,197,1,0,152,0,1.2,...,53,1,0.9,0.4,238,17,14,6.6,2.9,0.80
13,45,1,0,104,208,0,0,148,1,3.0,...,45,1,2.4,1.1,168,33,50,5.1,2.6,1.00
14,39,1,2,140,321,0,0,182,0,0.0,...,39,1,3.8,1.5,298,102,630,7.1,3.3,0.80
15,47,1,2,138,257,0,0,156,0,0.0,...,47,1,2.7,1.3,275,123,73,6.2,3.3,1.10
16,62,1,2,130,231,0,1,146,0,1.8,...,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74
17,34,1,3,118,182,0,0,174,0,0.0,...,34,1,4.1,2.0,289,875,731,5.0,2.7,1.10
18,68,1,2,118,277,0,1,151,0,1.0,...,68,1,0.7,0.1,145,20,22,5.8,2.9,1.00
19,74,0,1,120,269,0,0,121,1,0.2,...,74,0,1.1,0.4,214,22,30,8.1,4.1,1.00
20,70,1,1,156,245,0,0,143,0,0.0,...,70,1,1.4,0.6,146,12,24,6.2,3.8,1.58
21,38,1,2,138,175,0,1,173,0,0.0,...,38,1,1.8,0.8,342,168,441,7.6,4.4,1.30

In [ ]:
merged_df2 = merged_df.merge(diabetes_un, how="inner", on="Age")
merged_df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,TP,ALB,A/G,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
0,63,1,3,145,233,1,0,150,0,2.3,...,6.0,3.9,1.85,3,142,80,15,0,32.4,0.200
1,37,1,2,130,250,0,1,187,0,3.5,...,6.4,3.8,1.40,7,133,84,0,0,40.2,0.696
2,56,1,1,120,236,0,1,178,0,0.8,...,6.9,3.8,1.20,4,111,72,47,207,37.1,1.390
3,52,1,2,172,199,1,1,162,0,0.5,...,4.9,2.9,1.40,5,162,104,0,0,37.7,0.151
4,54,1,0,140,239,0,1,160,0,1.2,...,6.0,3.7,1.60,8,125,96,0,0,0.0,0.232
5,49,1,1,130,266,0,1,171,0,0.6,...,5.4,2.8,1.00,9,184,85,15,0,30.0,1.213
6,64,1,3,110,211,0,0,144,1,1.8,...,7.0,3.4,0.90,8,120,78,0,0,25.0,0.409
7,69,0,3,140,239,0,1,151,0,1.8,...,8.4,4.9,1.40,5,132,80,0,0,26.8,0.186
8,42,1,0,140,226,0,1,178,0,0.0,...,6.1,2.3,0.60,7,150,66,42,342,34.7,0.718
9,61,1,2,150,243,1,1,137,1,1.0,...,5.8,2.7,0.87,4,146,92,0,0,31.2,0.539
10,51,1,2,110,175,0,1,123,0,0.6,...,7.3,2.6,0.55,5,166,72,19,175,25.8,0.587
11,65,0,2,140,417,1,0,157,0,0.8,...,6.8,3.3,0.90,5,147,78,0,0,33.7,0.218
12,53,1,2,130,197,1,0,152,0,1.2,...,6.6,2.9,0.80,2,197,70,45,543,30.5,0.158
13,45,1,0,104,208,0,0,148,1,3.0,...,5.1,2.6,1.00,10,122,78,31,0,27.6,0.512
14,39,1,2,140,321,0,0,182,0,0.0,...,7.1,3.3,0.80,8,133,72,0,0,32.9,0.270
15,47,1,2,138,257,0,0,156,0,0.0,...,6.2,3.3,1.10,17,163,72,41,114,40.9,0.817
16,62,1,2,130,231,0,1,146,0,1.8,...,7.5,3.2,0.74,0,105,84,0,0,27.9,0.741
17,34,1,3,118,182,0,0,174,0,0.0,...,5.0,2.7,1.10,10,168,74,0,0,38.0,0.537
18,68,1,2,118,277,0,1,151,0,1.0,...,5.8,2.9,1.00,8,91,82,0,0,35.6,0.587
19,70,1,1,156,245,0,0,143,0,0.0,...,6.2,3.8,1.58,4,145,82,18,0,32.5,0.235
20,38,1,2,138,175,0,1,173,0,0.0,...,7.6,4.4,1.30,5,117,92,0,0,34.1,0.337

In [ ]:
merged_df2['Pregnancies']=0
merged_df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,TP,ALB,A/G,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
0,63,1,3,145,233,1,0,150,0,2.3,...,6.0,3.9,1.85,0,142,80,15,0,32.4,0.200
1,37,1,2,130,250,0,1,187,0,3.5,...,6.4,3.8,1.40,0,133,84,0,0,40.2,0.696
2,56,1,1,120,236,0,1,178,0,0.8,...,6.9,3.8,1.20,0,111,72,47,207,37.1,1.390
3,52,1,2,172,199,1,1,162,0,0.5,...,4.9,2.9,1.40,0,162,104,0,0,37.7,0.151
4,54,1,0,140,239,0,1,160,0,1.2,...,6.0,3.7,1.60,0,125,96,0,0,0.0,0.232
5,49,1,1,130,266,0,1,171,0,0.6,...,5.4,2.8,1.00,0,184,85,15,0,30.0,1.213
6,64,1,3,110,211,0,0,144,1,1.8,...,7.0,3.4,0.90,0,120,78,0,0,25.0,0.409
7,69,0,3,140,239,0,1,151,0,1.8,...,8.4,4.9,1.40,0,132,80,0,0,26.8,0.186
8,42,1,0,140,226,0,1,178,0,0.0,...,6.1,2.3,0.60,0,150,66,42,342,34.7,0.718
9,61,1,2,150,243,1,1,137,1,1.0,...,5.8,2.7,0.87,0,146,92,0,0,31.2,0.539
10,51,1,2,110,175,0,1,123,0,0.6,...,7.3,2.6,0.55,0,166,72,19,175,25.8,0.587
11,65,0,2,140,417,1,0,157,0,0.8,...,6.8,3.3,0.90,0,147,78,0,0,33.7,0.218
12,53,1,2,130,197,1,0,152,0,1.2,...,6.6,2.9,0.80,0,197,70,45,543,30.5,0.158
13,45,1,0,104,208,0,0,148,1,3.0,...,5.1,2.6,1.00,0,122,78,31,0,27.6,0.512
14,39,1,2,140,321,0,0,182,0,0.0,...,7.1,3.3,0.80,0,133,72,0,0,32.9,0.270
15,47,1,2,138,257,0,0,156,0,0.0,...,6.2,3.3,1.10,0,163,72,41,114,40.9,0.817
16,62,1,2,130,231,0,1,146,0,1.8,...,7.5,3.2,0.74,0,105,84,0,0,27.9,0.741
17,34,1,3,118,182,0,0,174,0,0.0,...,5.0,2.7,1.10,0,168,74,0,0,38.0,0.537
18,68,1,2,118,277,0,1,151,0,1.0,...,5.8,2.9,1.00,0,91,82,0,0,35.6,0.587
19,70,1,1,156,245,0,0,143,0,0.0,...,6.2,3.8,1.58,0,145,82,18,0,32.5,0.235
20,38,1,2,138,175,0,1,173,0,0.0,...,7.6,4.4,1.30,0,117,92,0,0,34.1,0.337

In [ ]:
merged_df2.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'Age', 'Gender', 'TB', 'DB',
       'Alkphos', 'Sgpt', 'Sgot', 'TP', 'ALB', 'A/G', 'Pregnancies', 'Glucose',
       'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction'],
      dtype='object')

In [ ]:
import pickle

#calculation functions
def HeartCalculation(df_heart):
    df_heart.rename(columns = {'Age':'age', 'Gender':'sex'}, inplace = True)
    df_heart["cp"] = df_heart["cp"].apply(np.int64)
    df_heart["ca"] = df_heart["ca"].apply(np.int64)
    df_heart["thal"] = df_heart["thal"].apply(np.int64)
    df_heart["slope"] = df_heart["slope"].apply(np.int64)
    df_heart["restecg"] = df_heart["restecg"].apply(np.int64)
    df_heart["exang"] = df_heart["exang"].apply(np.int64)
    df_heart["fbs"] = df_heart["fbs"].apply(np.int64)
    df_heart["trestbps"] = df_heart["trestbps"].apply(np.int64)
    df_heart["chol"] = df_heart["chol"].apply(np.int64)
    df_heart["thalach"] = df_heart["thalach"].apply(np.int64)
    print(df_heart)
    df_= PreprocessData_Heart(df_heart)
    print(df_)
    result = ValuePredictor_Heart(df_.values)       
    return result

def LiverCalculation(df_liver):
    df_liver["Alkphos"] = df_liver["Alkphos"].apply(np.int64)
    df_liver.rename(columns = {'A/G Ratio':'A/G',}, inplace = True)
    print(df_liver)
    df_ = PreprocessData_Liver(df_liver)
    print(df_)
    result = ValuePredictor_Liver(df_.values) 
    return result

def DiabetesCalculation(df_diabetes):
    df_diabetes["Pregnancies"] = df_diabetes["Pregnancies"].apply(np.int64)
    df_diabetes["Glucose"] = df_diabetes["Glucose"].apply(np.int64)
    df_diabetes["BloodPressure"] = df_diabetes["BloodPressure"].apply(np.int64)
    df_diabetes["SkinThickness"] = df_diabetes["SkinThickness"].apply(np.int64)
    df_diabetes["Insulin"] = df_diabetes["Insulin"].apply(np.int64)
    print(df_diabetes)
    result = ValuePredictor_Diabetes(df_diabetes.values) 
    return result

#preprocessing functions
def PreprocessData_Heart(df):
    a = pd.get_dummies(df['cp'], prefix = "cp")
    b = pd.get_dummies(df['thal'], prefix = "thal")
    c = pd.get_dummies(df['slope'], prefix = "slope")
    frames = [df, a, b, c]
    df = pd.concat(frames, axis = 1)
    df = df.drop(columns = ['cp', 'thal', 'slope'])
    if 'cp_0' in df.columns:
        df['cp_1']=0
        df['cp_2']=0
        df['cp_3']=0
    elif 'cp_1' in df.columns:
        df['cp_0']=0
        df['cp_2']=0
        df['cp_3']=0
    elif 'cp_2' in df.columns:
        df['cp_0']=0
        df['cp_1']=0
        df['cp_3']=0
    elif 'cp_3' in df.columns:
        df['cp_0']=0
        df['cp_1']=0
        df['cp_2']=0
    if 'thal_0' in df.columns:
        df['thal_1']=0
        df['thal_2']=0
        df['thal_3']=0
    elif 'thal_1' in df.columns:
        df['thal_0']=0
        df['thal_2']=0
        df['thal_3']=0
    elif 'thal_2' in df.columns:
        df['thal_0']=0
        df['thal_1']=0
        df['thal_3']=0
    elif 'thal_3' in df.columns:
        df['thal_0']=0
        df['thal_1']=0
        df['thal_2']=0
    if 'slope_0' in df.columns:
        df['slope_1']=0
        df['slope_2']=0
    elif 'slope_1' in df.columns:
        df['slope_0']=0
        df['slope_2']=0
    elif 'slope_2' in df.columns:
        df['slope_0']=0
        df['slope_1']=0
    columns = ['age','sex','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','ca', 'cp_0',	'cp_1',	'cp_2',	'cp_3',	'thal_0','thal_1','thal_2','thal_3','slope_0','slope_1','slope_2']
    df = df[columns]
    return df

def PreprocessData_Liver(liver):
    liver['IB'] = liver['TB'] - liver['DB']
    liver['sg_ratio'] = liver['Sgot']/liver['Sgpt']
    liver['Gender'] = liver['Gender'].astype(int)
    a = pd.get_dummies(liver['Gender'], prefix = "Gender")
    frames = [liver, a]
    liver = pd.concat(frames, axis = 1)
    liver = liver.drop(columns = ['Gender','TB', 'DB', 'Sgot', 'Sgpt'])
    if 'Gender_0' in liver.columns:
        liver['Gender_1']=0
    elif 'Gender_1' in liver.columns:
        liver['Gender_0']=0
    columns = ['Age','Alkphos','TP','ALB','A/G','IB','sg_ratio','Gender_0','Gender_1']
    liver = liver[columns]
    return liver

#prediction functions
def ValuePredictor_Heart(df):
    loaded_model = pickle.load(open("model.pkl", "rb"))
    result = loaded_model.predict_proba(df)
    print(result)
    return result

def ValuePredictor_Liver(df):
    loaded_model = pickle.load(open("rclf_81_oversampling.sav", "rb"))
    result = loaded_model.predict_proba(df)
    return result

def ValuePredictor_Diabetes(df):
    loaded_model = pickle.load(open("diabetes_model.pkl", "rb"))
    result = loaded_model.predict_proba(df)
    return result
 
#risk calculation function 
def CalcRisk(heart_proba, liver_proba, diabetes_proba):
    heart_weight=21834
    liver_weight=10918
    diabetes_weight=1194
    risk_fac=((heart_proba*heart_weight) + (liver_proba*liver_weight) + (diabetes_proba*diabetes_weight))/(heart_weight + liver_weight + diabetes_weight)
    return risk_fac
  
test_results=merged_df2
lista=[]
df_heart=test_results[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs',	'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
df_liver=test_results[['Age', 'Gender', 'TB','DB','Alkphos','Sgpt', 'Sgot','TP',	'ALB', 'A/G']]
df_diabetes=test_results[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']]
heart_proba = HeartCalculation(df_heart)
liver_proba = LiverCalculation(df_liver)
diabetes_proba = DiabetesCalculation(df_diabetes)
print(heart_proba, liver_proba, diabetes_proba)
MedRiskFactor = CalcRisk(heart_proba, liver_proba, diabetes_proba)
print(MedRiskFactor)
lista.append(MedRiskFactor)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0    63    1   3       145   233    1        0      150      0      2.3
1    37    1   2       130   250    0        1      187      0      3.5
2    56    1   1       120   236    0        1      178      0      0.8
3    52    1   2       172   199    1        1      162      0      0.5
4    54    1   0       140   239    0        1      160      0      1.2
5    49    1   1       130   266    0        1      171      0      0.6
6    64    1   3       110   211    0        0      144      1      1.8
7    69    0   3       140   239    0        1      151      0      1.8
8    42    1   0       140   226    0        1      178      0      0.0
9    61    1   2       150   243    1        1      137      1      1.0
10   51    1   2       110   175    0        1      123      0      0.6
11   65    0   2       140   417    1        0      157      0      0.8
12   53    1   2       130   197    1        0      152      0      1.2
13   45    1   0       104   208    0        0      148      1      3.0
14   39    1   2       140   321    0        0      182      0      0.0
15   47    1   2       138   257    0        0      156      0      0.0
16   62    1   2       130   231    0        1      146      0      1.8
17   34    1   3       118   182    0        0      174      0      0.0
18   68    1   2       118   277    0        1      151      0      1.0
19   70    1   1       156   245    0        0      143      0      0.0
20   38    1   2       138   175    0        1      173      0      0.0

    slope  ca  thal
0       0   0     1
1       0   0     2
2       2   0     2
3       2   0     3
4       2   0     2
5       2   0     2
6       1   0     2
7       2   2     2
8       2   0     2
9       1   0     2
10      2   0     2
11      2   1     2
12      0   0     2
13      1   0     2
14      2   0     2
15      2   0     2
16      1   3     3
17      2   0     2
18      2   1     3
19      2   0     2
20      2   4     2
    age  sex  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  ca  ...  \
0    63    1       145   233    1        0      150      0      2.3   0  ...
1    37    1       130   250    0        1      187      0      3.5   0  ...
2    56    1       120   236    0        1      178      0      0.8   0  ...
3    52    1       172   199    1        1      162      0      0.5   0  ...
4    54    1       140   239    0        1      160      0      1.2   0  ...
5    49    1       130   266    0        1      171      0      0.6   0  ...
6    64    1       110   211    0        0      144      1      1.8   0  ...
7    69    0       140   239    0        1      151      0      1.8   2  ...
8    42    1       140   226    0        1      178      0      0.0   0  ...
9    61    1       150   243    1        1      137      1      1.0   0  ...
10   51    1       110   175    0        1      123      0      0.6   0  ...
11   65    0       140   417    1        0      157      0      0.8   1  ...
12   53    1       130   197    1        0      152      0      1.2   0  ...
13   45    1       104   208    0        0      148      1      3.0   0  ...
14   39    1       140   321    0        0      182      0      0.0   0  ...
15   47    1       138   257    0        0      156      0      0.0   0  ...
16   62    1       130   231    0        1      146      0      1.8   3  ...
17   34    1       118   182    0        0      174      0      0.0   0  ...
18   68    1       118   277    0        1      151      0      1.0   1  ...
19   70    1       156   245    0        0      143      0      0.0   0  ...
20   38    1       138   175    0        1      173      0      0.0   4  ...

    cp_1  cp_2  cp_3  thal_0  thal_1  thal_2  thal_3  slope_0  slope_1  \
0      0     0     0       0       1       0       0        1        0
1      0     0     0       0       0       0       0        1        0
2      0     0     0       0       0       0       0        0        0
3      0     0     0       0       0       0       0        0        0
4      0     0     0       0       0       0       0        0        0
5      0     0     0       0       0       0       0        0        0
6      0     0     0       0       0       0       0        0        0
7      0     0     0       0       0       0       0        0        0
8      0     0     0       0       0       0       0        0        0
9      0     0     0       0       0       0       0        0        0
10     0     0     0       0       0       0       0        0        0
11     0     0     0       0       0       0       0        0        0
12     0     0     0       0       0       0       0        1        0
13     0     0     0       0       0       0       0        0        0
14     0     0     0       0       0       0       0        0        0
15     0     0     0       0       0       0       0        0        0
16     0     0     0       0       0       0       0        0        0
17     0     0     0       0       0       0       0        0        0
18     0     0     0       0       0       0       0        0        0
19     0     0     0       0       0       0       0        0        0
20     0     0     0       0       0       0       0        0        0

    slope_2
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0

[21 rows x 21 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:97: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.22.2.post1 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

[[0.43939238 0.56060762]
 [0.43516328 0.56483672]
 [0.43431308 0.56568692]
 [0.43475495 0.56524505]
 [0.54243311 0.45756689]
 [0.43431308 0.56568692]
 [0.5155234  0.4844766 ]
 [0.51206382 0.48793618]
 [0.44734516 0.55265484]
 [0.51652514 0.48347486]
 [0.43431308 0.56568692]
 [0.51066335 0.48933665]
 [0.43621166 0.56378834]
 [0.63286156 0.36713844]
 [0.34571211 0.65428789]
 [0.34571211 0.65428789]
 [0.57387797 0.42612203]
 [0.34571211 0.65428789]
 [0.56344789 0.43655211]
 [0.34571211 0.65428789]
 [0.4902276  0.5097724 ]]
    Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB   A/G
0    63       1   0.9  0.2      194    52    45  6.0  3.9  1.85
1    37       1   1.8  0.8      215    53    58  6.4  3.8  1.40
2    56       1   1.1  0.5      180    30    42  6.9  3.8  1.20
3    52       1   0.9  0.2      156    35    44  4.9  2.9  1.40
4    54       1   2.2  1.2      195    55    95  6.0  3.7  1.60
5    49       1   0.7  0.1      148    14    12  5.4  2.8  1.00
6    64       1   0.9  0.3      310    61    58  7.0  3.4  0.90
7    69       0   0.8  0.2      146    42    70  8.4  4.9  1.40
8    42       1   6.8  3.2      630    25    47  6.1  2.3  0.60
9    61       1   0.7  0.2      145    53    41  5.8  2.7  0.87
10   51       1   2.2  1.0      610    17    28  7.3  2.6  0.55
11   65       0   0.7  0.1      187    16    18  6.8  3.3  0.90
12   53       1   0.9  0.4      238    17    14  6.6  2.9  0.80
13   45       1   2.4  1.1      168    33    50  5.1  2.6  1.00
14   39       1   3.8  1.5      298   102   630  7.1  3.3  0.80
15   47       1   2.7  1.3      275   123    73  6.2  3.3  1.10
16   62       1  10.9  5.5      699    64   100  7.5  3.2  0.74
17   34       1   4.1  2.0      289   875   731  5.0  2.7  1.10
18   68       1   0.7  0.1      145    20    22  5.8  2.9  1.00
19   70       1   1.4  0.6      146    12    24  6.2  3.8  1.58
20   38       1   1.8  0.8      342   168   441  7.6  4.4  1.30
    Age  Alkphos   TP  ALB   A/G   IB  sg_ratio  Gender_0  Gender_1
0    63      194  6.0  3.9  1.85  0.7  0.865385         0         0
1    37      215  6.4  3.8  1.40  1.0  1.094340         0         0
2    56      180  6.9  3.8  1.20  0.6  1.400000         0         0
3    52      156  4.9  2.9  1.40  0.7  1.257143         0         0
4    54      195  6.0  3.7  1.60  1.0  1.727273         0         0
5    49      148  5.4  2.8  1.00  0.6  0.857143         0         0
6    64      310  7.0  3.4  0.90  0.6  0.950820         0         0
7    69      146  8.4  4.9  1.40  0.6  1.666667         1         0
8    42      630  6.1  2.3  0.60  3.6  1.880000         0         0
9    61      145  5.8  2.7  0.87  0.5  0.773585         0         0
10   51      610  7.3  2.6  0.55  1.2  1.647059         0         0
11   65      187  6.8  3.3  0.90  0.6  1.125000         1         0
12   53      238  6.6  2.9  0.80  0.5  0.823529         0         0
13   45      168  5.1  2.6  1.00  1.3  1.515152         0         0
14   39      298  7.1  3.3  0.80  2.3  6.176471         0         0
15   47      275  6.2  3.3  1.10  1.4  0.593496         0         0
16   62      699  7.5  3.2  0.74  5.4  1.562500         0         0
17   34      289  5.0  2.7  1.10  2.1  0.835429         0         0
18   68      145  5.8  2.9  1.00  0.6  1.100000         0         0
19   70      146  6.2  3.8  1.58  0.8  2.000000         0         0
20   38      342  7.6  4.4  1.30  1.0  2.625000         0         0

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.22.2.post1 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             0      142             80             15        0  32.4
1             0      133             84              0        0  40.2
2             0      111             72             47      207  37.1
3             0      162            104              0        0  37.7
4             0      125             96              0        0   0.0
5             0      184             85             15        0  30.0
6             0      120             78              0        0  25.0
7             0      132             80              0        0  26.8
8             0      150             66             42      342  34.7
9             0      146             92              0        0  31.2
10            0      166             72             19      175  25.8
11            0      147             78              0        0  33.7
12            0      197             70             45      543  30.5
13            0      122             78             31        0  27.6
14            0      133             72              0        0  32.9
15            0      163             72             41      114  40.9
16            0      105             84              0        0  27.9
17            0      168             74              0        0  38.0
18            0       91             82              0        0  35.6
19            0      145             82             18        0  32.5
20            0      117             92              0        0  34.1

    DiabetesPedigreeFunction  Age
0                      0.200   63
1                      0.696   37
2                      1.390   56
3                      0.151   52
4                      0.232   54
5                      1.213   49
6                      0.409   64
7                      0.186   69
8                      0.718   42
9                      0.539   61
10                     0.587   51
11                     0.218   65
12                     0.158   53
13                     0.512   45
14                     0.270   39
15                     0.817   47
16                     0.741   62
17                     0.537   34
18                     0.587   68
19                     0.235   70
20                     0.337   38
[[0.43939238 0.56060762]
 [0.43516328 0.56483672]
 [0.43431308 0.56568692]
 [0.43475495 0.56524505]
 [0.54243311 0.45756689]
 [0.43431308 0.56568692]
 [0.5155234  0.4844766 ]
 [0.51206382 0.48793618]
 [0.44734516 0.55265484]
 [0.51652514 0.48347486]
 [0.43431308 0.56568692]
 [0.51066335 0.48933665]
 [0.43621166 0.56378834]
 [0.63286156 0.36713844]
 [0.34571211 0.65428789]
 [0.34571211 0.65428789]
 [0.57387797 0.42612203]
 [0.34571211 0.65428789]
 [0.56344789 0.43655211]
 [0.34571211 0.65428789]
 [0.4902276  0.5097724 ]] [[0.73550525 0.26449475]
 [0.27698293 0.72301707]
 [0.71193224 0.28806776]
 [0.55106269 0.44893731]
 [0.30342511 0.69657489]
 [0.62913479 0.37086521]
 [0.56459126 0.43540874]
 [0.55091245 0.44908755]
 [0.17640137 0.82359863]
 [0.5014879  0.4985121 ]
 [0.1183702  0.8816298 ]
 [0.53329438 0.46670562]
 [0.34388248 0.65611752]
 [0.40878983 0.59121017]
 [0.12731428 0.87268572]
 [0.13039137 0.86960863]
 [0.12896422 0.87103578]
 [0.19514092 0.80485908]
 [0.52675866 0.47324134]
 [0.51476653 0.48523347]
 [0.28066196 0.71933804]] [[0.35253166 0.64746834]
 [0.35427482 0.64572518]
 [0.22105355 0.77894645]
 [0.39101037 0.60898963]
 [0.58850341 0.41149659]
 [0.32790022 0.67209978]
 [0.33549327 0.66450673]
 [0.38607988 0.61392012]
 [0.21239485 0.78760515]
 [0.35347975 0.64652025]
 [0.2068055  0.7931945 ]
 [0.34219391 0.65780609]
 [0.19386821 0.80613179]
 [0.33076411 0.66923589]
 [0.33836489 0.66163511]
 [0.21912522 0.78087478]
 [0.3546381  0.6453619 ]
 [0.35347975 0.64652025]
 [0.35371542 0.64628458]
 [0.32983316 0.67016684]
 [0.33434429 0.66565571]]
[[0.53157551 0.46842449]
 [0.38144284 0.61855716]
 [0.51610222 0.48389778]
 [0.47062418 0.52937582]
 [0.46718179 0.53281821]
 [0.49323037 0.50676963]
 [0.52497273 0.47502727]
 [0.52012735 0.47987265]
 [0.3519379  0.6480621 ]
 [0.50595386 0.49404614]
 [0.32469461 0.67530539]
 [0.51201647 0.48798353]
 [0.3979919  0.6020081 ]
 [0.55016789 0.44983211]
 [0.27521072 0.72478928]
 [0.27200632 0.72799368]
 [0.4230696  0.5769304 ]
 [0.29755734 0.70244266]
 [0.54427056 0.45572944]
 [0.3995263  0.6004737 ]
 [0.41734236 0.58265764]]

In [ ]:
lista

[array([[0.53157551, 0.46842449],
        [0.38144284, 0.61855716],
        [0.51610222, 0.48389778],
        [0.47062418, 0.52937582],
        [0.46718179, 0.53281821],
        [0.49323037, 0.50676963],
        [0.52497273, 0.47502727],
        [0.52012735, 0.47987265],
        [0.3519379 , 0.6480621 ],
        [0.50595386, 0.49404614],
        [0.32469461, 0.67530539],
        [0.51201647, 0.48798353],
        [0.3979919 , 0.6020081 ],
        [0.55016789, 0.44983211],
        [0.27521072, 0.72478928],
        [0.27200632, 0.72799368],
        [0.4230696 , 0.5769304 ],
        [0.29755734, 0.70244266],
        [0.54427056, 0.45572944],
        [0.3995263 , 0.6004737 ],
        [0.41734236, 0.58265764]])]

In [ ]:
list2=[]
for i in lista:
  for j in i:
    list2.append(j[1])
list2

[0.46842448519326796,
 0.6185571577917904,
 0.48389778124481303,
 0.5293758177512639,
 0.5328182142177507,
 0.5067696253131739,
 0.47502726904655873,
 0.4798726526145646,
 0.6480621027404284,
 0.49404614073550085,
 0.6753053874918262,
 0.48798352835524134,
 0.6020081026451524,
 0.44983211466673706,
 0.724789280535912,
 0.7279936776448845,
 0.5769303961322236,
 0.7024426594358114,
 0.4557294391772544,
 0.6004736964260914,
 0.5826576419445058]

In [ ]:
merged_df2["Risk"]=list2

In [ ]:
merged_df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,ALB,A/G,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Risk
0,63,1,3,145,233,1,0,150,0,2.3,...,3.9,1.85,0,142,80,15,0,32.4,0.200,0.468424
1,37,1,2,130,250,0,1,187,0,3.5,...,3.8,1.40,0,133,84,0,0,40.2,0.696,0.618557
2,56,1,1,120,236,0,1,178,0,0.8,...,3.8,1.20,0,111,72,47,207,37.1,1.390,0.483898
3,52,1,2,172,199,1,1,162,0,0.5,...,2.9,1.40,0,162,104,0,0,37.7,0.151,0.529376
4,54,1,0,140,239,0,1,160,0,1.2,...,3.7,1.60,0,125,96,0,0,0.0,0.232,0.532818
5,49,1,1,130,266,0,1,171,0,0.6,...,2.8,1.00,0,184,85,15,0,30.0,1.213,0.506770
6,64,1,3,110,211,0,0,144,1,1.8,...,3.4,0.90,0,120,78,0,0,25.0,0.409,0.475027
7,69,0,3,140,239,0,1,151,0,1.8,...,4.9,1.40,0,132,80,0,0,26.8,0.186,0.479873
8,42,1,0,140,226,0,1,178,0,0.0,...,2.3,0.60,0,150,66,42,342,34.7,0.718,0.648062
9,61,1,2,150,243,1,1,137,1,1.0,...,2.7,0.87,0,146,92,0,0,31.2,0.539,0.494046
10,51,1,2,110,175,0,1,123,0,0.6,...,2.6,0.55,0,166,72,19,175,25.8,0.587,0.675305
11,65,0,2,140,417,1,0,157,0,0.8,...,3.3,0.90,0,147,78,0,0,33.7,0.218,0.487984
12,53,1,2,130,197,1,0,152,0,1.2,...,2.9,0.80,0,197,70,45,543,30.5,0.158,0.602008
13,45,1,0,104,208,0,0,148,1,3.0,...,2.6,1.00,0,122,78,31,0,27.6,0.512,0.449832
14,39,1,2,140,321,0,0,182,0,0.0,...,3.3,0.80,0,133,72,0,0,32.9,0.270,0.724789
15,47,1,2,138,257,0,0,156,0,0.0,...,3.3,1.10,0,163,72,41,114,40.9,0.817,0.727994
16,62,1,2,130,231,0,1,146,0,1.8,...,3.2,0.74,0,105,84,0,0,27.9,0.741,0.576930
17,34,1,3,118,182,0,0,174,0,0.0,...,2.7,1.10,0,168,74,0,0,38.0,0.537,0.702443
18,68,1,2,118,277,0,1,151,0,1.0,...,2.9,1.00,0,91,82,0,0,35.6,0.587,0.455729
19,70,1,1,156,245,0,0,143,0,0.0,...,3.8,1.58,0,145,82,18,0,32.5,0.235,0.600474
20,38,1,2,138,175,0,1,173,0,0.0,...,4.4,1.30,0,117,92,0,0,34.1,0.337,0.582658

In [ ]:
merged_df2.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,ALB,A/G,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Risk
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,...,21.000000,21.000000,21.0,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,53.285714,0.904762,1.761905,133.285714,239.380952,0.238095,0.571429,158.238095,0.142857,1.042857,...,3.295238,1.099524,0.0,140.904762,80.619048,13.000000,65.761905,31.171429,0.511095,0.563000
std,11.332003,0.300793,0.943650,16.325265,53.806576,0.436436,0.507093,16.461788,0.358569,1.013692,...,0.651518,0.345535,0.0,26.421402,9.425901,17.643696,142.735036,8.475974,0.338914,0.091933
min,34.000000,0.000000,0.000000,104.000000,175.000000,0.000000,0.000000,123.000000,0.000000,0.000000,...,2.300000,0.550000,0.0,91.000000,66.000000,0.000000,0.000000,0.000000,0.151000,0.449832
25%,45.000000,1.000000,1.000000,120.000000,208.000000,0.000000,0.000000,148.000000,0.000000,0.000000,...,2.800000,0.870000,0.0,122.000000,72.000000,0.000000,0.000000,27.900000,0.232000,0.483898
50%,53.000000,1.000000,2.000000,138.000000,236.000000,0.000000,1.000000,156.000000,0.000000,0.800000,...,3.300000,1.000000,0.0,142.000000,80.000000,0.000000,0.000000,32.500000,0.512000,0.532818
75%,63.000000,1.000000,2.000000,140.000000,250.000000,0.000000,1.000000,173.000000,0.000000,1.800000,...,3.800000,1.400000,0.0,162.000000,84.000000,19.000000,0.000000,35.600000,0.696000,0.618557
max,70.000000,1.000000,3.000000,172.000000,417.000000,1.000000,1.000000,187.000000,1.000000,3.500000,...,4.900000,1.850000,0.0,197.000000,104.000000,47.000000,543.000000,40.900000,1.390000,0.727994